.rps {
  display: flex;
  justify-content: space-around;
}

.card {
  aspect-ratio: 1/1;
  height: 10rem;
  border-radius: 100%;
}

.paper {
  background-color: bisque;
}

.scissors {
  background-color: blue;
}

.rock {
  background-color: brown;
}

img {
  height: 10rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
